page-myprofile {
// .icon{
// }

.image{
    width: 100px;
    height: 100px;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    border-radius: 50%;
    border:2px solid #f8f8f8;
    float: left;
    margin: 0 20px;
    padding-bottom: 40px;
}

.name{
    padding-top: 15px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.status{
    font-size: 1.0em;
    padding-top: 5px;
    margin-bottom: 45px;
}

.editprofile{
    float: right;
    background: white;
}

.setrow{
    display: block;
    margin: 0 auto;
    margin-top: 0px;
}

.setbtn{
    color: black;
    background-color: white;
    width: 98px;
    height: 46px;
}

.forbtn{
    color: black;
    background-color: white;
    width: 147px;
    height: 46px;
}

}
