<!--
  Generated template for the MyprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>
        Username
        <button (click)="gotoEdit()" class="editprofile">
            Edit Profile
          </button>
      </ion-title>

    </ion-navbar>
  </ion-header>


<ion-content padding>
  <div class="image">
    <img src="assets/imgs/profil.jpg">
  </div>

  <div class="name">
    Teh Mayang
  </div>

  <div class="status">
    Just listen!
  </div>

  

  <ion-row class="setrow">
    <ion-col>
        <button class="setbtn">
            Posts
            <br>31
        </button>
    </ion-col>
    <ion-col>
        <button class="setbtn">
            Followers
            <br>31
        </button>
    </ion-col>
    <ion-col>
        <button class="setbtn">
            Following
            <br>31
        </button>
    </ion-col>
  </ion-row>
  <ion-row class="setrow">
    <ion-col>
        <button ion-button class="forbtn">
            <ion-icon name="ios-mic"></ion-icon>
        </button>
    </ion-col>
    <ion-col>
        <button ion-button class="forbtn">
            <ion-icon name="ios-archive"></ion-icon>
        </button>
    </ion-col>
  </ion-row>
  

    <div class="icon">
      <i class="icon-menu"></i>
    </div>
    <div class="icon">
      <i class="icon-check"></i>
    </div>
  
</ion-content>
