page-editprofile {
.image{
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    border-radius: 50%;
    border:2px solid #f8f8f8;
    margin-top: 3em;
    margin-bottom: 3em;
    }
    input[type=text] , input[type=password]{
        background-color: #F6F6F6;
        border: none;
        border-radius: 10px;
        color: #535353;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #F6F6F6;
        transition: all 0.5s ease-in-out;
        height: 45px;
        margin-left: 1.7em;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .savechange{
        margin-left: 1.7em;
        margin-right: auto;
        margin-top: 1.3em;
        text-align: center;
        border: none;
        border-radius: 10px;
        padding: 15px 80px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        width: 85%;
        height: 45px;
        color: white;
        background-color: #a34399;
    }
}
