<!--
  Generated template for the EditprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="image">
    <img src="assets/imgs/profil.jpg">
  </div>

  <form #data="ngForm" (ngSubmit)="login(data)">

      <input type="text" name="fname" required placeholder="First ame" ngModel>
      <input type="text" name="lname" required placeholder="Last name" ngModel>
      <input type="text" name="email" required placeholder="Email" ngModel>
      
      <button color="roze" ion-button class="savechange">Save changes</button>
  
  </form>

</ion-content>
