page-uploadsound {

    .blabla{
        background: #c46fbb;
    }

    .montserrat{
        font-family: 'MontserratLight';
        color: #F6F6F6;
        text-align: center;
        font-size: 27px;   
    }

    .text{
        padding-top:60px;
        color: white;
        text-align: center;
        font-family: 'MontserratLight';
        text-align: center;
        font-size: 27px;   
    }

    .uploadbtn{
        color: white;
        background-color: #a34399;
        height: 200px;
        border: none;
        border-radius: 20px;
        top:40px;
    }

    .formupload{
        top:60px;
    }
    
    .recordbtn{
        color: white;
        background-color: #a34399;
        height: 200px;
        border: none;
        border-radius: 20px;
        top:30px;
    }

    .icon {
        font-size: 50px;
     }

}

input[name="podcastFile"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 200;
    //top:60px;
}

ion-icon[name="folder-open"] {
    font-size: 3em;
}
