<ion-content class="blabla" padding>
  <h3 class="text">Create Your Audio</h3>
  <ion-row>
    <ion-col>
      <button class="recordbtn" style="font-size: 18px;" ion-button full (click)="goToPosttype()" icon-start>
        <ion-icon name="mic"></ion-icon> Record Audio
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <button class="uploadbtn" style="font-size: 18px;" ion-button full (click)="uploadAudio()" icon-start>
        <ion-icon name="folder-open"></ion-icon> Upload Audio
      </button>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col> 
        <form class="formupload" #data="ngForm" (ngSubmit)="uploadAudio2(data)">
            <label>
              <input class="uploadbtn" type="file" name="podcastFile" ngModel>
            </label>
          </form>
     </ion-col>
  </ion-row>

</ion-content>
