page-uploadimage {
    .backgroundupload{
        background: #c46fbb;
    }
    .imageprev{
        display: block;
        margin: 0 auto;
        margin-top: 5em;
        margin-bottom: 3em;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .breeserif{
        font-family: 'BreeSerif';
        color: #F6F6F6;
        text-align: center;
        font-size: 27px;   
    }
    .nextbutton{
        margin-left: 1.7em;
        margin-right: auto;
        margin-top: 1.3em;
        text-align: center;
        border: none;
        border-radius: 10px;
        padding: 15px 80px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        width: 85%;
        height: 45px;
        color: white;
        background-color: #a34399;
    }
    .bigger{
        font-size: 50px;
    }
}
