<!--
  Generated template for the UploadimagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="color: #c46fbb;">
    <!-- <ion-title>uploadimage</ion-title> -->
  </ion-navbar>

</ion-header>

<ion-content padding class="backgroundupload">

    <img class="imageprev" src="assets/imgs/user-default.jpg">

    <div>
      <h2 class="breeserif">Upload your profile image</h2>
    </div>

    <button color="roze" ion-button class="nextbutton">
      <!-- <ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up" class="bigger"></ion-icon> -->
      <p>Upload image</p>
    </button>

    <p (click)="gotoSignUp()" style="color: #c2c2f0; text-align: center">Skip</p>

</ion-content>
