page-login {
    .blabla{
        background: #c46fbb;
    }
    .logo{
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10em;
    }

    input[type=text] , input[type=password]{
        background-color: #F6F6F6;
        border: none;
        border-radius: 10px;
        color: #535353;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #F6F6F6;
        transition: all 0.5s ease-in-out;
        height: 45px;
        margin-left: 1.7em;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .login{
        margin-left: 1.7em;
        margin-right: auto;
        margin-top: 1.3em;
        text-align: center;
        border: none;
        border-radius: 10px;
        padding: 15px 80px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        width: 85%;
        height: 45px;
        color: white;
        background-color: #a34399;
    }

    .signup{
        position: relative;
        bottom: -20px;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 16px;
    }
}
