<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="blabla">
  <img class="logo" src="assets/imgs/vocologo.png">

  <br>
    <br>
   
  <form #data="ngForm" (ngSubmit)="login(data)">

  

    
    <input type="text" name="username" required placeholder="Username" ngModel>
    <input type="password" name="password" required placeholder="Password" ngModel>
  
    <button color="roze" ion-button class="login">Log in</button>

  </form>
  
  <div class="signup">
    <p>Not a member? <a (click)="gotoSignUp()" style="color: #c2c2f0">Sign up</a> now</p>
  </div>


  <!-- <form #data="ngForm" (ngSubmit)="login(data)">
    <ion-list>
      <ion-item>
        <ion-label fixed color="dark">Username</ion-label>
        <ion-input type="text" name="username" required placeholder="Username or email" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed color="dark">Password</ion-label>
        <ion-input type="password" name="password" required placeholder="Password" ngModel></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" block color="secondary">Submit</button>
  </form> -->

</ion-content>
