<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div>
  <h4>Stories</h4>
  <ion-slides class="stories">
    <ion-slide *ngFor="let file of mediaFiles" tappable (click)="play(file)" text-wrap>
      <div>
        <img class="image" src="assets/imgs/profil.jpg">
      </div>
      <ion-icon name="play"></ion-icon> {{ file.name }}
      <p>{{file.duration}}</p>
    </ion-slide>
    <!-- <ion-slide tappable text-wrap>
      <div>
        <img class="image" src="assets/imgs/profil.jpg">
      </div>
      <ion-icon name="play"></ion-icon> {{ file.name }}
    </ion-slide> -->
  </ion-slides>
</div>

<div class="podcast-header">
  <h4>Podcast</h4>
  <ion-list>
    <ion-item *ngFor="let file of podcast" tappable (click)="play(file)" text-wrap>
      {{ file.name }}
      <p> <ion-icon name="play"></ion-icon> {{file.size}}</p>
    </ion-item>
  </ion-list>
</div>
</ion-content>
