page-home {
.stories{
    background-color:#c46fbb;
    height:100px;
    border-radius: 20px;
}
.podcast-header{
    margin-top:30px;
}

.image{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    border:2px solid #f8f8f8;
    float: left;
    margin-left:30px;
}
}
