page-signup {
    .backgroundregis{
        background: #c46fbb;
    }
    input[type=text] , input[type=password]{
        background-color: #F6F6F6;
        border: none;
        border-radius: 10px;
        color: #535353;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #F6F6F6;
        transition: all 0.5s ease-in-out;
        height: 45px;
        margin-left: 1.7em;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .signup{
        margin-left: 1.7em;
        margin-right: auto;
        margin-top: 1.3em;
        text-align: center;
        border: none;
        border-radius: 10px;
        padding: 15px 80px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        width: 85%;
        height: 45px;
        color: white;
        background-color: #a34399;
    }
    .breeserif{
        font-family: 'BreeSerif';
        color: #F6F6F6;
        text-align: center;
        font-size: 27px;   
    }
    .marginhead{
        margin-top: 5em;
    }

}
