<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="backgroundregis">

  <div class="marginhead">
    <h2 class="breeserif">Create your VOCO account</h2>
  </div>

  <br>
  <br>

    <!-- <form #data="ngForm" (ngSubmit)="login(data)"> -->

        <input type="text" name="fname" required placeholder="First name" ngModel>
        <input type="text" name="lname" required placeholder="Last name" ngModel>
        <input type="text" name="username" required placeholder="Username" ngModel>
        <input type="password" name="password" required placeholder="Password" ngModel>
        <input type="text" name="email" required placeholder="Email" ngModel>
        
        <button color="roze" ion-button (click)="goToUpload()" class="signup">Next</button>
    
    <!-- </form> -->

</ion-content>
