page-posttype {
    .blabla{
        background: #c46fbb;
    }
    .marginTop{
        margin-top: 2em;
    }
    .montserrat{
        font-family: 'MontserratLight';
        color: white;
        text-align: center;
        font-size: 27px;   
    }
    .btnType{
        color: white;
        background-color: #a34399;
        height: 200px;
        border: none;
        border-radius: 20px;
        top:30px;
        margin-top: 1em;
    }
}
