<!--
  Generated template for the PosttypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>posttype</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="blabla">

  <div class="montserrat marginTop">
    What type of post?
  </div>  

  <ion-row>
    <ion-col>
<<<<<<< HEAD
      <button class="btnType" style="font-size: 18px;" ion-button full (click)="captureAudio()" icon-start>
        Story
=======
      <button class="btnType" ion-button full (click)="captureAudio1()" icon-start>
        <ion-icon name="mic"></ion-icon> Story
>>>>>>> fe5f7fbeaf3568e5c809c4c30c9868f6354104df
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
<<<<<<< HEAD
      <button class="btnType" style="font-size: 18px;" ion-button full (click)="uploadAudio()" icon-start>
        Podcast
=======
      <button class="btnType" ion-button full (click)="captureAudio2()" icon-start>
        <ion-icon name="folder-open"></ion-icon> Podcast
>>>>>>> fe5f7fbeaf3568e5c809c4c30c9868f6354104df
      </button>
    </ion-col>
  </ion-row>
</ion-content>
